<div class="summary">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3 label">
            <div class="label">
                <h2>Bill summary</h2>
                <div class="help">
                    <p>This bill has been created on <%= @bill.generated %><p>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-2-3 val">
            <div class="data">
                <p>Total amount due for the period <strong><%= @bill.from %>/<%= @bill.to %></strong>.</p>
                <h1><%= @bill.total %></h1>
                <p><a class="button-success pure-button" href="#">Make payment</a></p>
                <p>Please ensure we receive the payment by <strong><%= @bill.due %></strong>.</p>
            </div>
        </div>
    </div>
</div>
<div class="details">
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3 label">
            <div class="label">
                <h2>Bill details</h2>
                <div class="help">
                    <p>You can manage your subscriptions <a href="#">here</a>.</p>
                    <p>Need more help? have a look at our <a href="#">FAQ</a>.</p>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-2-3 val">
            <div class="data">
                <p>How we work out your bill of <strong><%= @bill.total %></strong>:</p>
                <div class="subscriptions">
                    <h2>My subscriptions</h2>
                    <table class="pure-table pure-table-horizontal">
                        <tbody>
                            <% @bill.subscriptions.items.each do |sub| %>
                                <tr>
                                    <td class="prod" title="type"><%= sub['type'] %></td>
                                    <td class="desc" title="product"><%= sub['name'] %></td>
                                    <td class="price" title="cost"><%= sub['cost'] %></td>
                                </tr>
                            <% end %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="price total">Total</td>
                                <td class="price total"><%= @bill.subscriptions.total %></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="store">
                    <h2>Sky store</h2>
                    <table class="pure-table pure-table-horizontal">
                        <tbody>
                            <% @bill.store.items.each do |sub| %>
                                <tr>
                                    <td class="prod" title="type"><%= sub['type'] %></td>
                                    <td class="desc" title="title"><%= sub['title'] %></td>
                                    <td class="price" title="cost"><%= sub['cost'] %></td>
                                </tr>
                            <% end %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="price total">Total</td>
                                <td class="price total"><%= @bill.store.total %></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="calls">
                    <h2>Call charges</h2>
                    <table class="pure-table pure-table-horizontal">
                        <tbody>
                            <% @bill.calls.items.each do |sub| %>
                                <tr>
                                    <td class="prod" title="Number"><%= sub['called'] %></td>
                                    <td class="desc" title="duration"><%= sub['duration'] %></td>
                                    <td class="price" title="cost"><%= sub['cost'] %></td>
                                </tr>
                            <% end %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="price total">Total</td>
                                <td class="price total"><%= @bill.calls.total %></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </divv>
        </div>
    </div>
</div>
